<template>
  <div class="main-view">
    <main-canvas ref="canvas"></main-canvas>
    <resize-observer @notify="handleResize" />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import MainCanvas from "@/components/MainCanvas.vue";

export default Vue.extend({
  name: "MainView",
  data() {
    return {};
  },
  methods: {
    handleResize() {
      (<MainCanvas>this.$refs.canvas).handleResize();
    }
  },
  components: {
    MainCanvas
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div {
  width: 100%;
  height: 100%;
  background-color: black;
}
</style>
