<template>
  <canvas id="canvas" tabindex="1"
    @mousedown.left="handleMousePress"
    @mouseup.left="handleMouseRelease"
    @mousemove.left="handleMouseMove"
    @touchstart="handleMousePress"
    @touchend="handleMouseRelease"
    @touchmove="handleMouseMove"
    @wheel.prevent="handleScroll"
    @keyup.left="prevScene"
    @keyup.right="nextScene"
    @keyup.up="prevDisplayMode"
    @keyup.down="nextDisplayMode"
    >
    HTML5 canvas is not supported in this browser :(
  </canvas>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { vec2, vec3, mat4 } from "gl-matrix";
import {
  GLUtils,
  Camera,
  CameraMover,
  CameraUtils,
  Scene,
  DisplayMode,
  Ray3
} from "ts-graphics";
import ShapesScene from "@/scenes/shapes/ShapesScene";
import PointsScene from "@/scenes/points/PointsScene";

function isTouchEvent(evnt: MouseEvent | TouchEvent): evnt is TouchEvent {
  return (<TouchEvent>evnt).touches !== undefined;
}

@Component
export default class MainCanvas extends Vue {
  private glUtils: null | GLUtils = null;
  private cameraMovers: CameraMover[] = [];
  private sceneIndex: number = 0;
  private scenes: Scene[] = [];
  private prevScreenPos: vec2 | null = vec2.create();
  private mousePan: boolean = false;
  private mouseOrbit: boolean = false;
  private cntlDown: boolean = false;
  private modelMatrix: mat4 = mat4.create();

  mounted(): void {
    const canvas: HTMLCanvasElement = <HTMLCanvasElement>this.$el;
    const options: WebGLContextAttributes = { preserveDrawingBuffer: true };
    const gl: null | WebGLRenderingContext = canvas.getContext(
      "webgl",
      options
    );
    if (!gl) {
      throw new Error("Failed to initialise WebGL");
    }

    const ext: null | OES_texture_float = gl.getExtension("OES_texture_float");
    if (!ext) {
      throw new Error("Failed to get necessary WebGL extensions");
    }
    canvas.focus();

    this.glUtils = new GLUtils(gl);

    const w: number = canvas.clientWidth;
    const h: number = canvas.clientHeight;
    canvas.width = w;
    canvas.height = h;

    this.cameraMovers.push(new CameraMover(new Camera()));
    this.cameraMovers.push(new CameraMover(new Camera()));

    this.cameraMovers.forEach(cameraMover => {
      cameraMover.camera.aspectRatio = w / h;

      cameraMover.pitch(-23);
      cameraMover.yaw(37);
      cameraMover.offsetFromAnchor = 5;
    });

    this.scenes.push(new ShapesScene(this.glUtils, w, h));
    this.scenes.push(new PointsScene(this.glUtils, w, h));

    this.renderGL();
  }

  renderGL(): void {
    const gl: WebGLRenderingContext = (<GLUtils>this.glUtils).getContext();
    gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
    gl.viewport(0, 0, gl.drawingBufferWidth, gl.drawingBufferHeight);

    const cam: Camera = this.cameraMovers[this.sceneIndex].camera;
    this.scenes[this.sceneIndex].onRender(cam);
  }

  handleResize(): void {
    const canvas: HTMLCanvasElement = <HTMLCanvasElement>this.$el;
    const w: number = canvas.clientWidth;
    const h: number = canvas.clientHeight;
    canvas.width = w;
    canvas.height = h;

    this.cameraMovers.forEach(cameraMover => {
      cameraMover.camera.aspectRatio = w / h;
    });

    this.renderGL();
  }

  getScreenPos(event: MouseEvent | TouchEvent): vec2 | null {
    let x: number;
    let y: number;
    if (isTouchEvent(event)) {
      x = event.touches[0].clientX;
      y = event.touches[0].clientY;
    } else {
      x = event.clientX;
      y = event.clientY;
    }
    if (x !== undefined && y !== undefined) {
      return vec2.fromValues(x, y);
    }
    return null;
  }

  getWorldPos(screenPos: vec2): vec3 | null {
    const ray: Ray3 = CameraUtils.getRayFromScreenPos(
      this.cameraMovers[this.sceneIndex].camera,
      screenPos[0],
      screenPos[1],
      (<HTMLCanvasElement>this.$el).clientWidth,
      (<HTMLCanvasElement>this.$el).clientHeight
    );

    return this.cameraMovers[this.sceneIndex].intersectPlaneAtAnchor(ray);
  }

  handleMousePress(event: MouseEvent): void {
    const ctrl = event.ctrlKey || event.metaKey;
    this.mousePan = ctrl;
    this.mouseOrbit = !ctrl;
    this.prevScreenPos = this.getScreenPos(event);
  }

  handleMouseRelease(event: MouseEvent): void {
    this.mousePan = false;
    this.mouseOrbit = false;
    this.prevScreenPos = null;
  }

  handleMouseMove(event: MouseEvent): void {
    if (this.mousePan) {
      const screenPos: vec2 | null = this.getScreenPos(event);

      if (this.prevScreenPos !== null && screenPos !== null) {
        const prevPos: vec3 | null = this.getWorldPos(this.prevScreenPos);
        const pos: vec3 | null = this.getWorldPos(screenPos);

        if (prevPos !== null && pos !== null) {
          const diff = vec3.sub(vec3.create(), prevPos, pos);
          this.cameraMovers[this.sceneIndex].pan(diff);
          this.renderGL();
        }
      }

      this.prevScreenPos = screenPos;
    } else if (this.mouseOrbit) {
      const screenPos = this.getScreenPos(event);

      if (this.prevScreenPos !== null && screenPos !== null) {
        const yaw = (this.prevScreenPos[0] - screenPos[0]) * 0.5;
        const pitch = (this.prevScreenPos[1] - screenPos[1]) * 0.5;

        this.cameraMovers[this.sceneIndex].yaw(yaw);
        this.cameraMovers[this.sceneIndex].pitch(pitch);

        this.renderGL();
      }

      this.prevScreenPos = screenPos;
    }
  }

  handleScroll(event: MouseWheelEvent): void {
    this.cameraMovers[this.sceneIndex].zoom(-event.deltaY * 0.01);
    this.renderGL();
  }

  prevScene(): void {
    this.sceneIndex =
      (this.sceneIndex + this.scenes.length - 1) % this.scenes.length;
    this.renderGL();
  }

  nextScene(): void {
    this.sceneIndex = (this.sceneIndex + 1) % this.scenes.length;
    this.renderGL();
  }

  prevDisplayMode(): void {
    const scene: Scene = this.scenes[this.sceneIndex];
    scene.displayMode =
      (scene.displayMode + DisplayMode.NUM_MODES - 1) % DisplayMode.NUM_MODES;
    this.renderGL();
  }

  nextDisplayMode(): void {
    const scene: Scene = this.scenes[this.sceneIndex];
    scene.displayMode = (scene.displayMode + 1) % DisplayMode.NUM_MODES;
    this.renderGL();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
canvas {
  width: 100%;
  height: 100%;
  background-color: black;
}
</style>
